 <!--  NAV  -->
    {% load static %}
   <nav class="navbar is-transparent is-warning">
       <div class="container">
           <div class="navbar-brand">
                <a class="navbar-item has-text-primary" href="http://localhost:8000">
                    <img src="{% static "frontend/images/fantaso.png" %}" alt="Our time together web app" width="30" height="30">
                </a>
              <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>

            <div id="navbarExampleTransparentExample" class="navbar-menu">

              <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link" href="#">Menu</a>
                  <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="{% url 'todos:task-list' %}">To Do</a>
                    <a class="navbar-item" href="{% url 'library:book-list' %}">Books</a>
                    <a class="navbar-item" href="{% url 'library:author-list' %}">Authors</a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="#">Food|Dance</a>
                    <a class="navbar-item" href="#">Films</a>
                    <a class="navbar-item" href="#">Journeys</a>
                    <a class="navbar-item" href="#">Ausflüge </a>
                  </div>
                </div>
              </div>

              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="field is-grouped">

                    <!-- Login -->
                    <p class="control">
                        {% if user.is_authenticated %}
                            <a class="button is-primary" href="{% url 'logout' %}?next={{request.path}}">
                            <span class="icon"><i class="fas fa-sign-in-alt"></i></span>
                                <span>logout</span>
                            </a>
                        {% else %}
                            <a class="button is-primary" href="{% url 'login' %}?next={{request.path}}">
                            <span class="icon"><i class="fas fa-sign-in-alt"></i></span>
                                <span>login</span>
                            </a>
                        {% endif %}

                    </p>

                  </div>
                </div>
              </div>

    </div>
  </nav>
  <!--  NAV  -->
