{% extends 'books/book_base.html' %}

{% block list %}
<h1 class="title is-1">Book Shelf</h1>

<a href="{% url 'books:book-create' %}">
    <button class="button is-small is-primary">
        <span class="icon is-small">
          <i class="fas fa-plus"></i>
        </span>
        <span>New book</span>
    </button>
</a>
<br>
<br>


<div class="columns">
    {% for book in book_list %}

        <!-- TODO: this hack is horrible. figure how bulma responsive layout works   -->
        {% if forloop.counter0|divisibleby:'4' %}
            </div>
            <div class="columns">
        {% endif %}
        <!-- TODOEND: -->

        <div class="column">{% include 'books/include/card.html' %}</div>
    {% empty %}
        <h1>No books yet.</h1>
    {% endfor %}

</div>

{% endblock list %}