{% extends 'books/book_base.html' %}
{% load bulma_tags %}

{% block list %}
<h1 class="title is-1">Book Shelf</h1>

<a href="{% url 'books:book-create' %}">
    {% button "New book" "is-primary" "fas fa-plus" "is-small" %}
</a>
<br>
<br>


<div class="columns">
    {% for book in book_list %}

        <!-- TODO: this hack is horrible. figure how bulma responsive layout works   -->
        {% if forloop.counter0|divisibleby:'4' %}
            </div>
            <div class="columns">
        {% endif %}
        <!-- TODOEND: -->

        <div class="column">
            <a href="{% url 'books:book-detail' pk=book.pk %}">
                {% card book.title book.year book.authors.first.full_name %}
            </a>
        </div>
    {% empty %}
        <h1>No books yet.</h1>
    {% endfor %}

</div>

{% endblock list %}