{% extends 'books/book_base.html' %}

{% load bulma_tags %}

{% block update %}
<h1 class="title is-1">Update book</h1>

    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {% for field in form %}
        {# TODO: fix how to modify this better #}
            {% if field == form.authors %}
                <div class="fieldWrapper select is-multiple ">
                    {{ field.errors }}
                    {# field.label_tag #}
                    <label for="id_{{ field.name }}" class="label">{{ field.label }}:</label>
                    {{ field }}
                </div>
            {% elif field == form.image %}
                <br>
                <br>
                <div class="fieldWrapper">
                    {{ field.errors }}
                    <div class="file">
                        <label for="id_{{ field.name }}" class="file-label">
                            {{ field }}
                            <span class="file-cta">
                              <span class="file-icon">
                                <i class="fas fa-upload"></i>
                              </span>
                              <span class="file-label">
                                Book cover…
                              </span>
                            </span>
                        </label>
                    </div>
                </div>
                <br>
            {% else %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    <label for="id_{{ field.name }}" class="label">{{ field.label }}:</label>
                    {{ field }}
                </div>
            {% endif %}
        {% endfor %}

        <br>
        {% button "Update book" "is-primary" "fas fa-pen" "is-small" %}
    </form>
{% endblock update %}

