{% extends 'books/base.html' %}
{% load bulma_tags %}


{% block list %}
<h1 class="title is-1">Book Shelf</h1>

<a href="{% url 'books:book-create' %}">
    {% button "New book" "is-primary" "fas fa-plus" "is-small" %}
</a>
<a href="{% url 'books:isbn' %}">
    {% button "New ISBN book" "is-primary" "fas fa-plus" "is-small" %}
</a>
<br>
<br>

<div class="columns is-multiline">
    {% for book in book_list %}
        <div class="column is-2-fullhd is-3-widescreen is-4-desktop is-6-tablet is-12-mobile">
            <a href="{% url 'books:book-detail' pk=book.pk %}">
                {% card book.title book.year book.authors.first.full_name book.image %}
            </a>
        </div>
    {% empty %}
        <h1>No books yet.</h1>
    {% endfor %}
</div>
{% endblock list %}