{% extends 'todo/todo_base.html' %}
{% load bulma_tags %}

{% block list %}
<h1 class="title is-1">Todo List</h1>

<a href="{% url 'todos:task-create' %}">
    {% button "New task" "is-primary" "fas fa-plus" "is-small" %}
</a>
<br>
<br>

<table class="table">
  <thead>
    <tr>

      <th><abbr title="Task ID">Id</abbr></th>
      <td><abbr title="Title of tasks">Title</abbr></td>
      <td><abbr title="Task deadline">Deadline</abbr></td>
      <td><abbr title="1/2/3">Priority</abbr></td>
      <td><abbr title="Is this task done?">Status</abbr></td>
      <td><abbr title="View/Edit/Delete">Actions</abbr></td>
    </tr>
  </thead>

  <tbody>
    {% for task in task_list %}
        <tr>
            <th>{{ task.pk }}</th>
            <td>{{ task.title }}</td>
            <td>{{ task.created_at|date }}</td>
            <td>{{ task.priority }}</td>
            <td>{{ task.is_done }}</td>
            <td>
                <a href="{% url 'todos:task-detail' pk=task.pk %}"><span class="icon has-text-info"><i class="fa fa-eye" aria-hidden="true"></i></span></a>
                <a href="{% url 'todos:task-update' pk=task.pk %}"><span class="icon has-text-dark"><i class="fas fa-pencil-alt"></i></span></a>
                <a href="{% url 'todos:task-delete' pk=task.pk %}"><span class="icon has-text-danger"><i class="fa fa-trash" aria-hidden="true"></i></span></a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <th>No tasks yet.</th>
            <td>No tasks yet.</td>
            <td>No tasks yet.</td>
            <td>No tasks yet.</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock list %}