<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>Task list</h1>

    <br>
    <a href="{% url 'todos:task-create' %}">Create</a>
    <ul>
        {% for task in task_list %}
            <li>
                {{ task.title }} - {{ task.created_at|date }}
                <a href="{% url 'todos:task-detail' pk=task.pk %}">View</a>
                <a href="{% url 'todos:task-update' pk=task.pk %}">Update</a>
                <a href="{% url 'todos:task-delete' pk=task.pk %}">Delete</a>
            </li>

        {% empty %}
            <li>No tasks yet.</li>
        {% endfor %}
    </ul>

</body>
</html>
